{% extends "base.tera" %}

{% block title %}
    {{ item.name }} 詳細
{% endblock %}

{% block content %}
    <dl>
        <dt>商品名</dt>
        <dd>{{ item.name }}</dd>

        <dt>価格</dt>
        <dd>{{ item.price }}</dd>

        <dt>発売日</dt>
        <dd>{{ item.release_date }}</dd>

        <dt>説明</dt>
        <dd>{{ item.description }}</dd>
    </dl>
{% endblock %}
