{% extends "base.askama.html" %}

{% block title %}TODO{% endblock %}

{% block content %}
    <ul>
      {% for item in item_list %}
      <li>
        {{ item.name }}<button type="submit" name="id" value="{{ item.id }}">
          Done
        </button>
      </li>
      {% endfor %}
    </ul>

  <form action="/new" method="post">
    <div>
      <label for="name">商品名</label>
      <input id="name" name="name" />
    </div>
    <div>
      <label for="price">価格</label>
      <input id="price" name="price" type="number" />
    </div>
    <div>
      <label for="description">説明</label>
      <textarea id="description" name="description"></textarea>
    </div>
    <button>登録</button>
  </form>
{% endblock %}

